@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<div class="text-center">
    <h1>Kaffe</h1>
    <div>
        <img style="margin-left: auto;margin-right: auto;display: block; width: 70%;" src="~/images/kaffemaskine.png" />
        <form asp-page-handler="Kaffe" method="post">
            <button class="btn btn-warning">KaffeKnap</button>
        </form>

        @foreach (var coffee in Model.Coffees)
        {
        <form asp-page-handler="id" method="post">
            <button class="btn btn-warning">@coffee.CoffeeName</button>
            <input type="hidden" name="id" value="@coffee.CoffeeName" />
        </form>
        }
    </div>
</div>
