@page
@model WebApp_KaffeMaskineSim_NoMVC.Pages.JSON.CoffeeMakerModel
@{
    ViewData["Title"] = "Order Thine Coffee";
}

<h1>ORDER COFFEE OR DIE, plz</h1> 

<form class="form-group" action="/" method="post">
    <input class="form-control" type="text" asp-for="Coffee.CoffeeName" />
    <p>What temp is the drink?</p>
    <label><input type="radio" asp-for="Coffee.Temperature" value="Cold" />Cold</label>
    <label><input type="radio" asp-for="Coffee.Temperature" value="Medium" checked="checked" />Medium</label>
    <label><input type="radio" asp-for="Coffee.Temperature" value="Warm" />Warm</label>
    <p>Seasonal Beverage?</p>
    <label><input type="radio" asp-for="Coffee.Season" value="Spring" />Spring</label>
    <label><input type="radio" asp-for="Coffee.Season" value="Summer" />Summer</label>
    <label><input type="radio" asp-for="Coffee.Season" value="Fall" />Fall</label>
    <label><input type="radio" asp-for="Coffee.Season" value="Winter" />Winter</label>
    <p>is it an alcoholic drink?</p>
    <asp:radiobutton id="Radio8" text="Alcohol" runat="server" />
</form>